@model Bunzl.Infra.CrossCutting.Templates.Models.Emails.NovoAnexoStatusOrdemDeCompraTimeBunzlModel
@{
    Layout = "/Views/Shared/_LayoutEmail.cshtml";
}

<div>
    <div style="text-align: center;">
        <p style="margin-bottom: 0px; color: white;">Hello @Model.UsuarioNome,</p>
        <p style="margin-top: 0px; color: white;">The supplier @Model.NomeFornecedor has added a new attachment to the Purchase Order.</p>
        <p style="margin-top: 0px; color: white;">Purchase Order Number: @Model.NumeroOrdemDeCompra</p>
        <p style="margin-top: 0px; color: white;">New Purchase Order Status: @Model.Status</p>
        <p style="margin-top: 0px; color: white;">Click the link below to access the portal and view the details.</p>
    </div>
    <div style="text-align: center; margin-top: 20px;">
        <a href="@Model.Link" style="background-color: #003C61; color: white; padding: 10px 20px; text-decoration: none; border: 1px solid white; border-radius: 5px; cursor: pointer; display: inline-block;">
            Access the Portal
        </a>
    </div>
</div>